<div ng-controller="BrowseController">
    <div ui-view></div>
    <div packery class="browse-posts clearfix" infinite-scroll="addMoreItems()" ng-hide="isPostStateActive">
        <div class="browse-post packery-brick" ng-repeat="post in posts">
            <a id="{{ post.id }}" ui-sref="post({postId:post.id})">
                <img class="ng-cloak" ng-src="{{ post.imageUrl }}" alt="{{ post.title }}">
                <h5 class="ng-cloak">{{ post.title }}</h5>
            </a>
        </div>
    </div>
</div>