<div ng-controller="PostController" ng-show="isPostStateActive">
    <div class="panel post-panel">
        <div class="panel-body">
            <img class="ng-cloak" ng-src="{{ post.imageUrl }}" alt="{{ post.title }}">
            <h5 class="ng-cloak">{{ post.title }}</h5>
        </div>
   </div>
    <div ng-repeat="p in post.posts">
        <div class="panel post-panel">
            <div class="panel-body">
                <img class="ng-cloak" ng-src="{{ p.imageUrl }}" alt="{{ p.title }}">
                <h5 class="ng-cloak">{{ p.title }}</h5>
            </div>
        </div>
    </div>
    <div ng-controller="ResponseController">
        <div class="panel">
            <div class="panel-body">

            </div>
            <div class="panel-footer">
                <div class="response-media-options">
                    <span class="response-media">Text</span>
                    <span class="response-media">Photo</span>
                </div>
            </div>
        </div>
    </div>
</div>